---
import type { CollectionEntry } from "astro:content";
import { getCollection } from "astro:content";
import Layout from "~/layouts/Layout.astro";
import Note from "~/components/Note.astro";
import Pagination from "~/components/Pagination.astro";

type Props = {
  page: {
    data: CollectionEntry<"posts">[];
    currentPage: number;
    lastPage: number;
    url: {
      current: string;
      next?: string;
      prev?: string;
    };
  };
  totalPosts: number;
};

export async function getStaticPaths({ paginate }: any) {
  const posts = await getCollection("posts");
  const sortedPosts = posts.sort(
    (a, b) =>
      new Date(b.data.publishDate).valueOf() -
      new Date(a.data.publishDate).valueOf()
  );
  return paginate(sortedPosts, {
    props: { totalPosts: posts.length },
    pageSize: 3,
  });
}

const { page, totalPosts } = Astro.props;
---

<Layout title="José Aular | Blog">
  <div class="space-y-14">
    <div class="space-y-4">
      <h1 class="text-4xl font-bold sm:text-5xl">Blog</h1>
      <p
        class="text-base leading-relaxed text-gray-800 dark:text-gray max-w-lg"
      >
        {`En total, he escrito ${totalPosts} artículos en mi blog`}
      </p>
    </div>
    <div>
      <div class="space-y-4">
        <h2 class="text-2xl font-bold sm:text-3xl">Publicaciones</h2>
        {
          !page.data.length ? (
            <p class="text-gray-800 dark:text-gray">
              No se han encontrado publicaciones
            </p>
          ) : (
            <ul
              role="list"
              class="divide-y divide-gray-200 dark:divide-gray-900"
            >
              {page.data.map((item) => (
                <Note note={item} />
              ))}
            </ul>
          )
        }
      </div>
    </div>
    <Pagination
      currentPage={page.currentPage}
      next={page.url.next}
      prev={page.url.prev}
    />
  </div>
</Layout>

<!-- https://docs.astro.build/en/reference/api-reference/#paginate -->
<!-- https://docs.astro.build/en/core-concepts/routing/#nested-pagination -->
