---
import CustomImage from "./CustomImage.astro";

type Props = {
  title: string;
  imageSrc: string;
  href: string;
};

const { title, imageSrc, href } = Astro.props;
---

<a
  class="group focus:outline outline-offset-4 focus:outline-1 focus:outline-blue"
  href={href}
  target="_blank"
  rel="noopener noreferrer"
>
  <div class="group-hover:opacity-75">
    <CustomImage src={imageSrc} alt={title} title={title} />
  </div>
  <div class="pt-2">
    <p class="text-base text-black dark:text-white">
      {title}
    </p>
  </div>
</a>

<!-- Usar image component -->
