---
import { Icon } from "astro-icon";
import { cn } from "~/lib/utils";

type Props = {
  href: string;
  currentPage: number;
  lastPage: number;
  next?: string;
  prev?: string;
};

const { href, currentPage, lastPage, next, prev } = Astro.props;
---

<div class="flex items-center justify-center">
  <div class="inline-flex rounded">
    <a
      href={prev && `${href}`}
      role="button"
      aria-label="First"
      class={cn(
        prev
          ? "opacity-100 hover:opacity-60 focus:opacity-60"
          : "opacity-40 cursor-not-allowed",
        "relative inline-flex items-center mr-4 rounded p-1 text-sm font-medium text-white outline-none bg-blue"
      )}
    >
      <span class="sr-only">First</span>
      <Icon class="h-5 w-5" name="chevron-double-left" />
    </a>
    <a
      href={prev && `${prev}`}
      role="button"
      aria-label="Previous"
      class={cn(
        prev
          ? "opacity-100 hover:opacity-60 focus:opacity-60"
          : "opacity-40 cursor-not-allowed",
        "relative inline-flex items-center rounded-l p-1 text-sm font-medium text-white outline-none bg-blue"
      )}
    >
      <span class="sr-only">Previous</span>
      <Icon class="h-5 w-5" name="chevron-left" />
    </a>
    <span
      class="relative inline-flex items-center bg-gray-200/50 dark:bg-black-600 px-4 py-1 text-sm"
    >
      {currentPage} / {lastPage}
    </span>
    <a
      href={next && `${next}`}
      role="button"
      aria-label="Next"
      class={cn(
        next
          ? "opacity-100 hover:opacity-60 focus:opacity-60"
          : "opacity-40 cursor-not-allowed",
        "relative inline-flex items-center rounded-r p-1 text-sm font-medium text-white outline-none bg-blue"
      )}
    >
      <span class="sr-only">Next</span>
      <Icon class="h-5 w-5" name="chevron-right" />
    </a>
    <a
      href={next && `${href}/${lastPage}`}
      role="button"
      aria-label="Last"
      class={cn(
        next
          ? "opacity-100 hover:opacity-60 focus:opacity-60"
          : "opacity-40 cursor-not-allowed",
        "relative inline-flex items-center ml-4 rounded p-1 text-sm font-medium text-white outline-none bg-blue"
      )}
    >
      <span class="sr-only">Last</span>
      <Icon class="h-5 w-5" name="chevron-double-right" />
    </a>
  </div>
</div>
